@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato);
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
#navbar{
    display: flex;
    background-color: cyan;
    height: 8vh;
    padding: 10px 4px;
    justify-content: center;
    align-items: center;
    background-color:#231a24;
    position: sticky;
    top: 0;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 16px 40px;
}
#navbar li a:hover{
    background: white;
    color: black;
}
#introSection{
    color:white;
    line-height: 1.5em;
    background: url('/static/bg.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:92vh;
    font-size: 3.7rem;
    font-weight: bold;
}
#introSection .small{
    font-size: .7em;
    font-weight: normal;
}
#introSection .large{
    padding-bottom: 69px;
}
#missionSection{
     height: 300px;
     background-color: #231A24 ;
}
#missionSection h2{
    font-family: Lato ;
    font-size: 29px ;
    text-decoration: none ;
    text-align: center ;
    color: #FFFFFF ;
    background-color: #231A24 ;
    font-weight: normal ;
    margin-top: 0px ;
    margin-bottom: 29px ;

}
#missionSection .cards{
    color: #FFFFFF ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#missionSection .card{
    width: 300px;
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 2px 5px 7px rgb(0 0 0);
    height: 180px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
#missionSection .card p{
    text-align: center;
}

#sponsorSection{
    background-color: green;
    height: 300px;
    
}

#footer{
    background-color: yellow;
    height: 300px;
}